.footer {
  background-color: $dark-background-color;
  font-style: normal;
  padding-top: $padding-indent;
  padding-bottom: $padding-indent;
}

.footer__container {
  @media screen and (max-width:1199px) {
    text-align: center;
  }

  @media screen and (min-width:1200px) {
    display: flex;
    align-items: baseline;
  }
}

.tablet-align {
  @media screen and (min-width:768px) {
    display: inline-flex;
    align-items: baseline;
  }

}

.address__list {
  @extend %list;

  margin-bottom: 60px;
}

.address__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.address__link {
  @extend %link;

  color: $main-color;
  line-height: 1.71;
  font-style: normal;

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-contact__link {
  @extend %link;

  margin-bottom: 9px;

  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-social {
  margin-bottom: 60px;

  @media screen and (min-width:768px) {
    margin-left: 165px;
  }

  @media screen and (min-width:1200px) {
    margin-left: 70px;
  }

}

.footer__dsc {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $main-color;
  text-transform: uppercase;
}

.footer-social__list {
  @extend %list;
}

.signup__form {
  display: flex;
  flex-direction: column;

  @media screen and (min-width:1200px) {
    margin-left: 93px;
  }

}

.footer__form {
  @media screen and (max-width:1199px) {
    text-align: center;
  }

  @media screen and (min-width:1200px) {
    display: flex;

  }
}

.signup__input {
  display: block;
  width: 100%;

  padding: 15px 16px;


  max-height: 50px;

  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width:480px) {
    width: 450px;
  }

  @media screen and(max-width:1199px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  @media screen and (min-width:1200px) {
    margin-bottom: 0;
    margin-right: 12px;
    width: 356px;
  }
}