header {
  border-bottom: 1px solid #ececec;
}

.page-header {
  position: relative;

  @include centeredFlex();

  justify-content: space-between;
}


.page-header__nav {
  display: flex;
  align-items: center;

  width: 100%;
  margin-left: 93px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.logo {
  display: block;
}