html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  font-family: 'Roboto';
  color: #757575;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.page.modal-open {
  overflow: hidden;
}